body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}




/* Heritage */
.d1 {
  /* padding-left: 50px; */
  
  height: 150px;
  width: 150px;
}

.d2 {   
  height: 100px;
  width: 100px;
}

.d3 {    
  height: 50px;
  width: 50px;
}

.b{
    border: 1px solid black;
}

.r{
    border: 1px solid red;
}

.g{
    border: 1px solid green;
}