/*Merienda One Nunito Sans*/

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family:Nunito Sans,sans-serif ;
}



/*--------------Navigation--------------*/

nav{
  position: fixed;
  height: 70px;
  width: 100%;
  top:0px;
  border-bottom: 1px dotted #f1f1f1;
  /* background: #333; */
  background:linear-gradient(to bottom ,#333,#626262 ) ;

}

.logo-menu{
  position:absolute;
  width: 40px;
  height: 50px;
  top:10px;/*(70-50)/2=10*/
  right: 15px;
  display: none;
}

/*menu ul*/
.list-nav{
  background:linear-gradient(to bottom ,#333,#626262 ) ;
  position: absolute;
  width: 100%;
  height:70px;    
  display: flex;
  list-style: none;
  justify-content: center;
  border-bottom: 1px dotted #f1f1f1;

}

/*menu li*/
.item-nav{
  display: flex; 
  align-items: center;/*align-items est a stretch par defaut*/  
}

/*menu lien a*/
.item-nav a{
  font-size: 25px;
  text-decoration: none;
  color:#f1f1f1;  
  margin: 0 20px;
}

/*animation underline item menu*/
.item-nav a::after{
  content: '';
  display: block;
  margin: 0 auto;
  width: 0%;
  height: 2px;
  background:#f1f1f1;
  transition:width 0.2s ease-in-out;
}

.item-nav:hover a::after{
  width: 100%;
}

/*--------------Responsive Navigation--------------*/

@media screen and (max-width: 700px) {
  
  /* Affiche le logo */
  .logo-menu{
    display: block;
  }

  /*Menu ul */
  .list-nav{
    display:none;
    flex-direction: column;
    height: auto;
    align-items: center; 
  }

  .list-nav.active{
    display: flex;
  }

  /*Menu li*/
  .item-nav{
    height: 70px;    
  }

  /*Decale Menu Accueil de 70px*/
  .item-nav:nth-child(1){
    margin-top: 70px;
  }

}

/*--------------Section Accueil--------------*/
.accueil{
  width: 100%;
  height: 100vh;
  background-image: url(/Site_tokyo/ressources/accueil-pic-lum-down.jpg);
  background-position: center;
  background-size: cover;

  /*Evite fusion des marges haut et bas
  Si on met une marge top a image 
  L'accueil va se decaler de la marge
  a cause de la fusion   
  */
  padding-top: 1px;
  border-bottom: 1px dotted #777;
}

.logo-kyoto{
  border-radius: 100px;
  width: 180px; 
  display: block;
  /*Haut|Horizontal|Bas*/
  margin: 180px auto 0;
}

.accueil h1{
  font-size: 100px;
  text-align: center;
  text-shadow: 0 10px 10px #000;
  margin: 10px 0 0 0;
  font-family: "Merienda One",sans-serif;
  color:#f1f1f1
}

.sous-titre{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color:#f1f1f1;
  margin: 5px 0;
  text-shadow: 0 0px 10px #000;
}

.btn-accueil{
  border-radius: 100px;
  background: crimson;
  border: 1px solid #333;
  color:#f1f1f1;
  display: block;
  width: 200px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  text-decoration: none;
  margin: 30px auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

}

.btn-accueil:hover{
  background:rgb(177,0,36);
  color:#fff;
}

/*--------------Responsive Section Accueil--------------*/

@media screen and (max-width:850px) {
  
  .accueil{
    height: 650px;/*100vh*/
  }

  .logo-kyoto{
    margin: 120px auto 0;/* margin: 180px auto 0; */
  }

  .accueil h1{
    font-size: 60px;/* font-size: 100px; */
  }

  .sous-titre{
    font-size: 23px;/*font-size: 40px;*/

  }

  .btn-accueil{
    width: 150px;/*200*/
    height: 50px;/*70*/
    line-height: 50px;
    font-size: 18px;/*22*/
    margin: 15px auto 0;/*30*/
  }


}

@media screen and (max-width:400px) {
  
  .accueil{
    height: 550px;/*650px*/
  }

  .logo-kyoto{
    width: 150px;/*180px*/
    margin: 110px auto 0;/* margin: 120px auto 0; */
  }

  .accueil h1{
    font-size: 35px;/* font-size: 60px; */
  }

  .sous-titre{
    font-size: 20px;/*font-size: 23px;*/

  }

  .btn-accueil{
    width: 130px;/*150*/
    height: 45px;/*50*/
    line-height: 45px;
    font-size: 16px;/*18*/
    /* margin: 15px auto 0; */
  }

  .logo-menu{
    /* top:15px; */
    width: 35px;
  }


}


/*----------------Section Asymetrique---------------*/

.section-asymetrique{
  padding: 10px;
  display: grid;
  grid-template: 200px repeat(24,150px)/1fr 600px 1fr 600px 1fr;
}

.section-asymetrique h2{
 
 /**deb raow deb col / fin row fin col */
 grid-area: 1/1/2/-1;
  display: flex;
  justify-content:center;
  align-items: center;  
  font-size: 70px;
  color: #333;
  padding-top: 50px;
}

/*Bloc-1*/
.bloc-1{
  background: #333;
  color:#f1f1f1;
  grid-area:3/2/8/3;
  position: relative;
  left:100px;
  border-radius: 2px; 

}

.bloc-1 img{
  position: absolute;
  left: 300px;
  top:100px;
  width: 100%;
}

.bloc-txt-1{
  width: 50%;
  height: 100%;
}

.bloc-txt-1 h3{
  width: 150% !important; 
  font-size: 35px;
  margin: 15px 0;
  padding: 15px;
}

.bloc-txt-1 p{
  line-height: 40px;
  padding: 15px;
}

.btn-bloc-left{
  border-radius: 9999px;
  outline: 0;
  border: 0;
  background: crimson;
  border: 1px solid #333;
  color: #f1f1f1;
  padding: 20px 35px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
}







/* .parent{
  padding: 5px;
  height: 300px;
  display: grid;
  grid-template-rows:3fr 2fr;
} */


  




/*----------------Bordure---------------*/
.b{
    border: 1px solid black;
}

.r{
    border: 1px solid red;
}

.g{
    border: 1px solid green;
}